<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Frontend Mentor | Single Price Grid Component</title>
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/grid.css" />
  </head>
  <body>
    <main>
      <div class="card">
        <article>
          <h2>Join our community</h2>
          <p class="offer">30-day, hassle-free money back guarantee</p>

          <p class="offer-desc">
            Gain access to our full library of tutorials along with expert code reviews. Perfect for
            any developers who are serious about honing their skills.
          </p>
        </article>

        <article>
          <h2>Monthly Subscription</h2>
          <div class="price">
            <strong>$29</strong>
            <span>per month</span>
          </div>
          <p>Full access for less than $1 a day</p>
          <button>Sign Up</button>
        </article>

        <article>
          <h2>Why Us</h2>

          <ul>
            <li>Tutorials by industry experts</li>
            <li>Peer & expert code review</li>
            <li>Coding exercises</li>
            <li>Access to our GitHub repos</li>
            <li>Community forum</li>
            <li>Flashcard decks</li>
            <li>New videos every week</li>
          </ul>
        </article>
      </div>
    </main>
  </body>
</html>
