<h1>Register your book:</h1>
<form action="/books/new" method="post" class="form">
  <div class="form-control">
    <label for="title">Title:</label>
    <input type="text" name="title" />
  </div>
  <div class="form-control">
    <label for="pages">Number of pages:</label>
    <input type="number" name="pages" />
  </div>

  <input class="btn" type="submit" value="Add book!" />
</form>
<div class="links">
  <a class="page-link" href="/books">See your books</a>
</div>