<h1>{{book.title}}</h1>
<p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quas esse doloremque
  eum facere. Rerum doloribus nulla perferendis voluptatem nisi laborum, quasi corrupti accusamus
  accusantium est. Commodi quis fugit numquam?</p>
<p class="page">{{book.num_pages}} pages</p>
<div class="links">
  <a class="page-link" href="/books">See all books</a>
  <a href="/books/edit/{{book.id}}" class="page-link">Edit</a>
  <form action="/books/remove/{{book.id}}" method="post">
    <input type="submit" value="Remove" class="page-link" />
  </form>
</div>